body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0; /* Updated background color */
  padding-top: 58px;
  min-height: 100vh;
}

.container {
  width: 90%; /* Updated width */
  margin: 0 auto;
  overflow: hidden;
}

.company-name {
  color: white; /* Updated color */
  font-size: 24px; /* Updated font size */
  margin-right: 20px; /* Updated margin */
}

header {
  background-color: #3f51b5; /* Updated background color */
  color: #fff;
  padding: 15px 0; /* Updated padding */
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav a.active {
  color: #00ff0d;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
  margin-bottom: 10px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 18px; /* Updated font size */
  transition: color 0.3s ease;
}

nav a:hover {
  color: #00ff0d;
}

.hero {
  background-color: #3f51b5; /* Updated background color */
  background-size: cover;
  height: 20vh;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 80px 0; /* Updated padding */
}

.hero2 {
  background-color: #f44336; /* Updated background color */
  background-size: cover;
  height: 20vh;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 80px 0; /* Updated padding */
}

.hero3 {
  background-color: #009688; /* Updated background color */
  background-size: cover;
  height: 20vh;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 80px 0; /* Updated padding */
}

.hero h2 {
  margin-bottom: 20px;
}

.cont {
  width: 90vw; /* Updated width */
  margin: 20px auto;
  overflow: hidden;
}

.box {
  background-color: #fafafa; /* Updated background color */
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
}

.box img {
  float: left;
  width: 50%;
  height: auto;
}

.box2 img {
  float: right;
  width: 50%;
  height: auto;
}

.box .content {
  float: right;
  width: 40%;
  padding: 20px;
}
.box2 .content {
  float: left;
  width: 40%;
  padding: 20px;
}

.box h2 {
  margin-top: 0;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333; /* Updated background color */
  color: white;
  text-align: center;
}
